@model YDCManagementApp.Data.Client

@{
    ViewData["Title"] = "Test_create";
}

<!--CREATE SECTION-->
<body>
    <div class="container">
        <div class="main-body">

            <!--Top Content-->
            <div class="card mt-5">
                <div class="card-body bg-light">

                    <!--Page Title-->
                    <div class="col-12 text-center text-capitalize">
                        <h1>Edit client</h1>
                    </div>
                    <hr>

                    <form asp-action="Edit" data-ajax="true" data-ajax-method="POST">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" /> 
                        <!--Client Name-->
                        <div class="row">
                            <div class="form-group col-12 col-sm-6">
                                <h6><label for="ClientName" asp-for="CompanyName" class="control-label m-0"></label></h6>
                                <input asp-for="CompanyName" type="text" id="ClientName" maxlength="50" class="form-control form-control-sm" placeholder="Company Name" required>
                                <p class="clientnameError"></p>
                            </div>

                            <!--Website-->
                            <div class="form-group col-12 col-sm-6">
                                <h6><label for="ClientWebsite" asp-for="Website" class="control-label m-0"></label></h6>
                                <input asp-for="Website" type="url" id="ClientWebsite" maxlength="100" class="form-control form-control-sm" placeholder="Website" required>
                                <p class="ClientWebsiteError"></p>
                            </div>

                            <div class="form-group form-check col-12 col-sm-6">
                                <label class="form-check-label m-0">
                                    @Html.DisplayNameFor(model => model.ClientStatus)
                                    <input id="ClientStatus" class="form-check-input ml-1" asp-for="ClientStatus" /> 
                                    <span asp-validation-for="ClientStatus" class="text-danger"></span>
                                </label>
                                <p class="StatusError"></p>
                            </div>
                        </div>
                        <hr>

                        <div class="col-12 text-center">
                            <!-- Button trigger customer information MODAL -->
                            <button type="button" id="saveChangesButton" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmModal">
                                Save Changes
                            </button>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.Id">Back to Client</a>
                        </div>

                        <!-- customer information Modal -->
                        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Confirm Information</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <!--Modal body-->
                                    <div class="modal-body">
                                        <div class="container" id="modalValues">
                                            <ul class="p-0">
                                                <!--List-item-->
                                                <li class="row">
                                                    <div class="downbutton col-12 col-sm-4">Client Name</div>
                                                    <div class="dubbelpunt col-12 col-sm-2">:</div>
                                                    <div class="thevalue col-12 col-sm-6">
                                                        <p id="modalClientName"></p>
                                                        <p class="clientnameError"></p>
                                                    </div>
                                                </li>
                                                <li class="row">
                                                    <div class="downbutton col-12 col-sm-4">Website</div>
                                                    <div class="dubbelpunt col-12 col-sm-2">:</div>
                                                    <div class="thevalue col-12 col-sm-6">
                                                        <p id="modalWebsite"></p>
                                                        <p class="ClientWebsiteError"></p>
                                                    </div>
                                                </li>
                                                <li class="row">
                                                    <div class="downbutton col-12 col-sm-4">Clientstatus</div>
                                                    <div class="dubbelpunt col-12 col-sm-2">:</div>
                                                    <div class="thevalue col-12 col-sm-6">
                                                        <p id="modalClientStatus" class="p-0 m-0"></p>
                                                        <p class="StatusError"></p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!--Button to officially submit the form-->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" id="OfficiallySubmitForm" class="btn btn-success">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Script Section-->
    <script>
        $(document).ready(function () {
            // Save changes button click event
            $("#saveChangesButton").click(function () {
                $("#modalClientName").text($("#ClientName").val());
                $("#modalWebsite").text($("#ClientWebsite").val());
                var address = $("#ClientAddress").val() + " " + $("#ClientNumber").val() + ", " + $("#ClientCity").val() + ", " + $("#ClientState").val() + ", " + $("#ClientCountry").val() + " " + $("#ClientZip").val();
                $("#modalAddress").text(address);
            });
        });
    </script>
    <script type="module" src="~/js/EditCustomer.js" asp-append-version="true"></script>
</body>